/* override styles when printing */
@media print {

    body {
      margin: 0;
      color: rgb(224, 28, 28);
      background-color: #fff;
    }
    header, footer, aside, form {
        display: none;
    }
  
  }